<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Banking System</title>
  <link rel="stylesheet" href="../static/styles/home.css?{{ cache_id }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
  <header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <h1 class="navbar-brand">Welcome to Simple Banking System</h1>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
    </ul>
    </div>

  </header>
  <div class="container">
    <main>
      <section class="about">
        <h2>About Us</h2>
        <p>Welcome to our banking system! We are dedicated to providing you with secure and convenient banking services. Our mission is to empower individuals and businesses to achieve their financial goals through innovative solutions and exceptional customer service.</p>
        <p>At our bank, we prioritize the security and privacy of your financial information. Our robust systems and advanced encryption technologies ensure that your transactions and personal data are protected at all times.</p>
        <p>With a team of experienced bankers and cutting-edge technology, we offer a wide range of services, including personal and business accounts, loans, investments, and more. Our goal is to help you manage your finances effectively and make informed financial decisions.</p>
        <p>We value our customers and strive to build long-lasting relationships based on trust and transparency. Our dedicated customer support team is always ready to assist you with any queries or concerns you may have.</p>
        <p>Thank you for choosing our banking system. We look forward to serving you and being your trusted financial partner!</p>
      </section>

      <section>
        <h2>Services</h2>
        <ul class="list-group">
          <li class="list-group-item">Account Management</li>
          <li class="list-group-item">Loan Management</li>
          <li class="list-group-item">Transaction History</li>
        </ul>
      </section>
    </main>
  </div>
  <footer class="footer mt-auto py-3">
    <div class="container">
      <p class="text-center">&copy; 2023 Simple Banking System. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
