/*header {
	border: solid 1px red;
}
header h1 {
	border: solid 1px black;
}
header ul {
	border: solid 1px red;
}

.container {
	border: solid 1px black;
}

.about p {
	border: solid 1px red;
}

footer {
	border: solid 1px black;
}*/
